<configuration>   
   
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
    <!-- encoder 默认配置为PatternLayoutEncoder --> 
    <filter class="ch.qos.logback.classic.filter.LevelFilter">   
      <level>INFO</level>   
      <onMatch>ACCEPT</onMatch>   
      <onMismatch>DENY</onMismatch>   
    </filter>
    <encoder>   
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
      <pattern>%-4relative [%thread] %-5level %logger{36} - %msg %n</pattern>  
    </encoder>   
  </appender>
  
  <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender"> -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>   
      <maxHistory>30</maxHistory>    
    </rollingPolicy>
  	<append>true</append>  
  	<encoder>   
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
   </appender>
  
  <!-- logback为java中的包 -->   
  <logger name="logback"/>  
  <!--logback.LogbackDemo：类的全路径 -->   
  <logger name="logback.LogbackDemo" level="INFO" additivity="true">  
    <appender-ref ref="STDOUT"/>  
  </logger>  
   
  <root level="TRACE">             
    <appender-ref ref="FILE" />   
  </root>     
     
 </configuration>